@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header */

header {
    padding-inline: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo_link {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.header_logo_title {
    color: #FA793C;
    font-family: 'ABeeZee', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.nav_list {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.nav_list_item_link {
    color: #000;
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.burger_menu {
    display: none;
}

/* section1 */

.section_one {
    height: 550px;
    background-image: url(../images/section1_cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 130px;
    row-gap: 20px;
}

.section_one_title {
    color: #FFF;
    font-family: 'ABeeZee', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
}

.section_one_txt {
    color: #FFF;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

/* section2 */

.section_two {
    padding: 130px;
}

.section_two_title,
.section_three_title {
    font-family: 'ABeeZee', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    margin-bottom: 35px;
}

.cards_container {
    display: flex;
    justify-content: space-between;
}

.card {
    border: 1px solid black;
    width: 380px;
}

.card_txt_wrapper {
    margin: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.card_title {
    font-family: 'ABeeZee', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.card_txt {
    font-family: 'ABeeZee', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}